.content {
    height: 100vh;
  }

.content{
    margin: auto;
    padding: 0;
    padding-left:13rem;
    transition: 0.3s
}

.content.closed{
    padding-left:5rem;
}

@media screen and (max-width: 1023px) {
    .row{
        height: max-content;
        overflow: scroll;
    }
    .content{
        height: max-content;
        /* display: block; */
        padding-left:5rem;
    }

}

@media screen and (max-width: 767px) {
    .content.closed, .content{
        padding-left: 4rem;
    }    
}

@media screen and (max-width: 350px) {

}