<div class="left" [class.closed]='navIsClosed' style="height: 100vh;">
    <div class="left-top" style="color: #3e3dc5; cursor: pointer;" (click)='toggleNav()'>
        <img src="assets/images/logo.svg" alt="" class="logo">
        <span style="margin: 0;">Vertugo</span>
    </div>
    <div class="left-middle">
        <ul style=" width: max-content;">
            <a routerLink="/summary" routerLinkActive="active">
                <li> <img src="assets/images/worldwide.png" alt=""> <span>Summary</span></li>
            </a>
            <a routerLink="/activity" routerLinkActive="active">
                <li><img src="assets/images/activity.png" alt=""> <span>Activity</span></li>
            </a>
            <a routerLink="/send-request" routerLinkActive="active">
                <li><img src="assets/images/transfer.png" alt=""> <span>Send & Request</span></li>
            </a>
            <a routerLink="/wallet" routerLinkActive="active">
                <li><img src="assets/images/wallet.png" alt="">
                    <span>Wallet</span>
                </li>
            </a>
            <a routerLink="/offers" routerLinkActive="active">
                <li><img src="assets/images/offers.png" alt=""> <span>Offers</span></li>
            </a>
            <a routerLink="/help" routerLinkActive="active">
                <li><img src="assets/images/help.png" alt=""> <span>Help</span></li>
            </a>
        </ul>
    </div>
    <div class="left-bottom" style="font-weight: normal; cursor: pointer;" routerLink='/settings'
        routerLinkActive="active">
        <img src="assets/images/settings.png" alt=""><span style="font-weight: 550;">Settings</span>
    </div>
</div>